<h2>All Twitter Users in DB</h2>


 <%if @user.length==0 %><p> No Users Found in Database </p>

 <%else%>
<ul>

		<%@user.each do |user|%>
		<li><%=user.twitter_display_name%> </li>
		<%end%>
</ul>
<%end%>


<%=link_to "Add Different Twitter User to MongoDB", new_user_url%>
